@model NAUReviewApplication.Models.SurveyResponse

@{
    ViewData["Title"] = "Survey";
    Layout = "~/Views/Shared/_Layout3.cshtml";

    int[] score = new int[100];
    string[] comment = new string[100];
    int scounter = 0, ccounter = 0, questionNum = 1;
    int SurveyID = ViewBag.surveyID;
    int ParticipantID = ViewBag.participantID;
    List<Question> temp = ViewBag.questions;
}

<h2>@ViewBag.SurveyName</h2>

<hr />

@using (Html.BeginForm("Save", "User", FormMethod.Post))
{ 
    <table class="table">
        <tbody>
            @foreach (var item in temp)
            {
                <tr>
                        <td>
                        @questionNum
                        </td>
                        @{questionNum++;}

                        <td>
                        @Html.DisplayFor(modelItem => item.Text)
                        </td>

                        @if (item.Type.ToString().Equals("0"))
                        {
                                <td>
                                <label><textarea asp-for="@comment[ccounter]" cols="91" rows="5" required>Enter Answer Here</textarea></label>
                                </td>

                            ccounter++;
                        }
                        else
                        {
                                <td>
                                    <label><input asp-for="@score[scounter]" type="radio" value="1" required/>Strongly Disagree</label>
                                    &emsp;&emsp;&emsp;
                                    <label><input asp-for="@score[scounter]" type="radio" value="2" />Disagree</label>
                                    &emsp;&emsp;&emsp;
                                    <label><input asp-for="@score[scounter]" type="radio" value="3" />Nuetral</label>
                                    &emsp;&emsp;&emsp;
                                    <label><input asp-for="@score[scounter]" type="radio" value="4" />Agree</label>
                                    &emsp;&emsp;&emsp;
                                    <label><input asp-for="@score[scounter]" type="radio" value="5" />Strongly Agree</label>
                                </td>

                            scounter++;
                        }
                </tr>
                }
            <tr align="right">
                <td hidden><label hidden><input asp-for="@ParticipantID" value="@ParticipantID" type="radio" checked/></label></td>
                <td hidden><label hidden><input asp-for="@SurveyID" value="@SurveyID" type="radio" checked /></label></td>
                <td>
                    <input type="submit" value="Submit" />
                </td>
            </tr>
        </tbody>
    </table>
}
