@model IEnumerable<NAUReviewApplication.Models.Question>

@{
    ViewData["Title"] = "Survey";

    int[] score = new int[100];
    string[] comment = new string[100];
    int[] questionID = new int[100];
    int counter = 0, questionNum = 1;
    int SurveyID = ViewBag.surveyID;
    List<Question> temp = ViewBag.questions;
}

<h2>Survey</h2>

<hr />
        <form method="post">
            <table class="table">
                <tbody>
                    @foreach (var item in temp)
                    {
                        <tr>
                                <td>
                                @questionNum
                                </td>
                                @{questionNum++;}

                                <td>
                                @Html.DisplayFor(modelItem => item.Text)
                                </td>

                                @if (item.Type.ToString().Equals("0"))
                                {
                                        <td>
                                        <label><textarea asp-for="@comment[counter]" cols="91" rows="5">Enter Answer Here</textarea></label>
                                        </td>

                                    score[counter] = -1;// null;
                                    counter++;
                                }
                                else
                                {
                                        <td>
                                            <label><input asp-for="@score[counter]" type="radio" value="1" />Strongly Disagree</label>
                                            &emsp;&emsp;&emsp;
                                            <label><input asp-for="@score[counter]" type="radio" value="2" />Disagree</label>
                                            &emsp;&emsp;&emsp;
                                            <label><input asp-for="@score[counter]" type="radio" value="3" />Nuetral</label>
                                            &emsp;&emsp;&emsp;
                                            <label><input asp-for="@score[counter]" type="radio" value="4" />Agree</label>
                                            &emsp;&emsp;&emsp;
                                            <label><input asp-for="@score[counter]" type="radio" value="5" />Strongly Agree</label>
                                        </td>

                                    comment[counter] = null;
                                    counter++;
                                }
                       </tr>
                    }
                    <tr align="right">
                        <td>
                            <input type="submit" value="Submit"
                                   asp-area="" asp-controller="User" asp-action="Save" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
