@model IEnumerable<NAUReviewApplication.Models.Survey>

@{
    ViewData["Title"] = "Index";
}

<h2>Completed Surveys</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayName("Survey Type")
            </th>
            <th>
                @Html.DisplayName("Creation Date")
            </th>
            <th>
                Survey Details
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.Type.ToString().Equals("0"))
                {
                    @Html.DisplayName("Project")
                }else
                {
                    @Html.DisplayName("Individual")
                }
            </td>
            <td>
                @item.CreationDate.ToString("MM/dd/yyyy")
            </td>
            <td>
                <a asp-action="Responses" asp-route-id="@item.SurveyId">View Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
