@model Tuple<ICollection<NAUReviewApplication.Models.Question>, int>


@{
    ViewData["Title"] = "Survey Responses";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
</head>
<body>
    <h1>Survey @Model.Item2 Questions:</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Question</th>
                <th>
                    Question Type
                </th>
                <th>
                    Results
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item1)
            {
            <tr>
                <td>
                    @item.Text
                </td>
                <td>
                    @{  if (item.Type.ToString().Equals("0"))
                        { @Html.DisplayName("Numeric")}
                        else
                        { @Html.DisplayName("Text")}
                    }
                </td>
                <td>
                    <a asp-action="QuestionResults" asp-route-id="@item.QuestionId"
                       asp-route-survID="@Model.Item2">Question Results</a>
                   </td>
   
               </tr>
            }
        </tbody>
    </table>
</body>
</html>
