@model Tuple<ICollection<NAUReviewApplication.Models.Question>, int>


@{
    ViewData["Title"] = "Survey Responses";

    int length = Model.Item1.Count();
    List<double> avgs = ViewBag.Averages;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
</head>
<body>
    <h1>Survey @Model.Item2 Questions:</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Question</th>
                <th>
                    Question Type
                </th>
                <th>
                    Results
                </th>
                <th>
                    Overall Average
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < length; i++)
            {
            <tr>
                <td>
                    @Model.Item1.ElementAt(i).Text
                </td>
                <td>
                    @{  if (Model.Item1.ElementAt(i).Type.ToString().Equals("0"))
                        { @Html.DisplayName("Numeric")}
                        else
                        { @Html.DisplayName("Text")}
                    }
                </td>
                <td>
                    <a asp-action="QuestionResults" asp-route-id="@Model.Item1.ElementAt(i).QuestionId"
                       asp-route-survID="@Model.Item2">Question Results</a>
                </td>
                <td>
                    <!--<a asp-action="QuestionResults" asp-route-id="item.QuestionId">Question Results</a>-->
                </td>
   
               </tr>
            }
        </tbody>
    </table>
</body>
</html>
