@model Tuple<ICollection<NAUReviewApplication.Models.Question>, int>


@{
    ViewData["Title"] = "Survey Responses";

    int length = Model.Item1.Count();
    List<double> avgs = ViewBag.Averages;
    List<Group> groups = ViewBag.Groups;
    List<SurveyResponse> comments = ViewBag.Comments;
    Survey survey = ViewBag.Survey;
    Participant recipient = ViewBag.Recipient;
    List<SurveyResponse> recipientAnswers = ViewBag.RecipAnswers;
    List<Tuple<ICollection<Group>, List<double>>> groupAvgs = ViewBag.GroupAvgs;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
</head>
<body>
    <h1>Survey Questions</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Question</th>
                @if (survey.Type == 1)
                {
                    <th>
                        Average of Peers
                    </th>
                    <th>
                       @recipient.Username's Answers
                    </th>

                }else if (survey.Type == 0)
                {
                    <th>
                        Overall Average
                    </th>
                    foreach (var g in groups)
                    {
                        <th>
                            @g.Name
                        </th>
                    }
                }
                <th>
                    Individual Results
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < length; i++)
            {
                <tr>
                    <td>
                        @Model.Item1.ElementAt(i).Text
                    </td>
                    <td>
                     @{ if (avgs.ElementAt(i).ToString().Equals("-1"))
                        {
                             @Html.DisplayName("N/A")
                        }
                        else
                        {
                             @avgs.ElementAt(i)}
                        }
                    </td>
                    @if (survey.Type == 1)
                    {
                        <td>
                            @if (recipientAnswers.ElementAt(i).Score.ToString().Equals("-1"))
                            {
                                @Html.DisplayName("N/A")
                            }else
                            {
                                @recipientAnswers.ElementAt(i).Score
                            }
                        </td>
                        } else if (survey.Type == 0)
                        {
                            for (int j=0; j < groups.Count(); j++)
                        {
                            <td>
                                @if (groupAvgs.ElementAt(i).Item2.ElementAt(j).ToString().Equals("-1"))
                                {
                                       @Html.DisplayName("N/A")
                                }else
                                {
                                    @groupAvgs.ElementAt(i).Item2.ElementAt(j)
                                }
                            </td>

                        }
                    }
                    <td>
                        <a asp-action="QuestionResults" asp-route-id="@Model.Item1.ElementAt(i).QuestionId"
                           asp-route-survID="@Model.Item2">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p align="center">(1) Strongly Disagree  &nbsp;  (2) Disagree  &nbsp;  (3) Neutral  &nbsp;  (4) Agree  &nbsp;  (5) Strongly Agree</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Comments to Support the Answers Above
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var com in comments)
            { 
                <tr>
                    <td>
                        @com.Comment
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
